<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Portfolio #<%= @portfolio.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/portfolios" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/portfolios/<%= @portfolio.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit portfolio
        </a>
      </div>

      <div class="col">
        <a href="/delete_portfolio/<%= @portfolio.id %>" class="btn btn-block btn-outline-secondary">
          Delete portfolio
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Stock name
      </dt>
      <dd>
        <%= @portfolio.stock_name %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @portfolio.user.present? %>
          <a href="/users/<%= @portfolio.user_id %>">
            <%= @portfolio.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@portfolio.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@portfolio.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "portfolio_templates/portfolio_stocks" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "portfolio_templates/portfolio_comments" %>
  </div>
</div>
