<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Portfolio #<%= @portfolio.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/portfolios" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link portfolio start -->
      <div class="col">
        <a href="/portfolios/<%= @portfolio.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit portfolio
        </a>
      </div>
      <!-- Edit link portfolio end -->

      <!-- Delete link portfolio start -->
      <div class="col">
        <a href="/delete_portfolio/<%= @portfolio.id %>" class="btn btn-block btn-outline-secondary">
          Delete portfolio
        </a>
      </div>
      <!-- Delete link portfolio end -->
    </div>

    <dl>
      <dt>
        Stock name
      </dt>
      <!-- Display stock_name start -->
      <dd>
        <%= @portfolio.stock_name %>
      </dd>
      <!-- Display stock_name end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @portfolio.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@portfolio.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@portfolio.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
