<!-- Validation failure messages -->
<% if @stock.errors.any? %>
  <% @stock.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit stock #<%= @stock.id %>
</h1>

<hr>

<!-- Form stock start -->
<form action="/update_stock/<%= @stock.id %>" method="post">
<!-- Form stock end -->

  <!-- Label and input for portfolio_id start -->
  <div class="form-group">
    <label for="portfolio_id">
      Portfolio
    </label>

    <!-- Input for portfolio_id start -->
    <%= select_tag(:portfolio_id, options_from_collection_for_select(Portfolio.all, :id, :created_at, @stock.portfolio_id), :class => "form-control") %>
    <!-- Input for portfolio_id end -->
  </div>
  <!-- Label and input for portfolio_id end -->

  <!-- Label and input for stock_tickr start -->
  <div class="form-group">
    <label for="stock_tickr">
      Stock tickr
    </label>

    <!-- Input for stock_tickr start -->
    <input type="text" id="stock_tickr" name="stock_tickr" class="form-control" value="<%= @stock.stock_tickr %>">
    <!-- Input for stock_tickr end -->
  </div>
  <!-- Label and input for stock_tickr end -->

  <button class="btn btn-block btn-outline-secondary">
    Update stock
  </button>
</form>

<hr>

<a href="/stocks">
  Go back
</a>
