<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Upvote #<%= @upvote.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/upvotes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/upvotes/<%= @upvote.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit upvote
        </a>
      </div>

      <div class="col">
        <a href="/delete_upvote/<%= @upvote.id %>" class="btn btn-block btn-outline-secondary">
          Delete upvote
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Stock
      </dt>
      <dd>
        <% if @upvote.stock.present? %>
          <a href="/stocks/<%= @upvote.stock_id %>">
            <%= @upvote.stock.portfolio_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Expert
      </dt>
      <dd>
        <% if @upvote.expert.present? %>
          <a href="/experts/<%= @upvote.expert_id %>">
            <%= @upvote.expert.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@upvote.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@upvote.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

